*{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../imagens/6876899.jpg");
    background-size: 100%;
    font-size: 50px;
}

#inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d0f40c4;
    border-radius: 10px;
    color: #F29E6D;
    text-align: center;
    height: 150px;
    width: 500px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 40px;
    flex-direction: column;
}

#texto {
    font-size: 70px;
    margin-bottom: 10px;
}

#mostra {
    font-size: 30px;
    background-color: #0d0f40c4;
    color: #F29E6D;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    border-radius: 10px;
    margin: auto;
    padding: 6px;
    margin-bottom: 20px;
}

article, footer {
    display: flex;
    align-items: center;
    justify-content: center;
}



#hora, #minuto, #segundo {
    margin: 10px;
    width: 200px;
    height: 200px;
    background-color: #0d0f40c4;
    border-radius: 10px;
    color: #F29E6D;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    font-size: 17px;
    padding: 3px;
    background-color: #0d0f40c4;
    color: #F29E6D;
    position: fixed;
    width: 100%;
    bottom: 0;
}